* {
  box-sizing: border-box;
  margin: 0;
}
@font-face {
  font-family: "Satoshi";
  src: url(./fonts/Satoshi-Light.otf);
  font-weight: light;
}
@font-face {
  font-family: "Satoshi";
  src: url(./fonts/Satoshi-Regular.otf);
  font-weight: normal;
}
@font-face {
  font-family: "Satoshi";
  src: url(./fonts/Satoshi-Bold.otf);
  font-weight: bold;
}
@font-face {
  font-family: "Satoshi";
  src: url(./fonts/Satoshi-Medium.otf);
  font-weight: medium;
}
@font-face {
  font-family: "Franie";
  src: url(./fonts/Franie-Regular.otf);
  font-weight: normal;
}
body {
  background-color: #100d1b;
  background-image: url("./Images/beautiful-shining-stars-night-sky.svg");
  color: #ffff;
  font-family: "Satoshi";
  font-weight: normal;
  width: 100%;
  box-sizing: border-box;
}
.name {
  font-family: "Franie";
}
.nav-menu {
  display: flex;
  align-items: center;
  gap: 32px;
}
.nav-item {
  position: relative;
}
.active-nav {
  width: 100%;
  height: 3px;
  background: rgba(69, 35, 176, 1);
  position: absolute;
  border-radius: 10px;
  left: 0;
  bottom: -6px;
}
a {
  color: white;
  text-decoration: none;
}
li {
  list-style: none;
  display: inline;
  font-size: 1.2rem;
  font-weight: medium;
  cursor: pointer;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  position: fixed;

  top: 0;
  width: 100%;
  z-index: 100;
  background: rgba(19, 0, 86, 0.1);
  /* box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37); */
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  /* border-radius: 10px; */
  /* border: 1px solid rgba(255, 255, 255, 0.18); */
  /* background: rgba(19, 0, 86, 0.15); */
  /* box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37); */
  /* backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px); */
  /* border-radius: 10px; */
  /* border: 1px solid rgba(255, 255, 255, 0.18); */
}
.nav-logo img {
  width: 120px;
}
.cta,
.outside-cta {
  font-size: 1rem;
  border: none;
  padding: 1rem;
  border-radius: 60px;
  background: rgb(69, 35, 176);
  background: linear-gradient(
    93deg,
    rgba(69, 35, 176, 1) 0%,
    rgba(110, 142, 255, 1) 66%
  );
  color: #ffff;
  margin-left: 8rem;
}
.main {
  padding-top: 5rem;
  position: relative;
  top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 800px;
  overflow: hidden;
}

.name-container {
  width: inherit;
  position: relative;
  text-align: center;
}
.hat-shadow,
.hat,
.video-container,
.eclipse-bg,
.lady,
.eclipse-left,
.eclipse-right {
  position: absolute;
}
.video-container,
.eclipse-bg,
.lady,
.eclipse-left,
.eclipse-right {
  z-index: 4;
}
.name {
  left: 10px;
  z-index: 2;
  position: relative;
  font-size: 200px;
  transition: all 0.5s ease-in-out;
}

.hat-shadow {
  right: 255px;
  top: 0;
  z-index: 3;
  transition: transform 0.5s ease-in-out;
}
.hat {
  right: 170px;
  top: -90px;
  transition: transform 0.5s ease-in-out;
}
.video-container {
  width: 900px;
  height: 900px;
  border-radius: 50%;
  overflow: hidden;
  top: 600px;
}
.video-container video {
  width: 100%;
  height: 100%;
  object-fit: fill;
}
.main-content-container {
  /* position: relative; */
  width: 100%;
  height: 600px;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
/* .main-content-container .lady,
.eclipse-bg {
  width: 50%;
} */
.magic-pen {
  width: 100px;
  position: absolute;
  bottom: -25px;
  left: 100px;
  display: none;
}
.eye-inactive,
.eye-active {
  width: 100px;
  z-index: 22;
  cursor: pointer;
  position: relative;
}
.lady {
  top: 200px;
  width: 670px;
}
.eclipse-bg {
  top: -50px;
  width: 1070px;
}
.eclipse-left {
  bottom: -250px;
  left: 100px;
}
.eclipse-right {
  bottom: -250px;

  right: 100px;
}
.video-description {
  right: 50px;
  bottom: 280px;
  position: absolute;
  padding: 1.5rem;
  width: 400px;
  height: 240px;
  border-radius: 20px;
  background: rgba(19, 0, 86, 0.15);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  z-index: 21;
}
.video-writeup {
  font-family: "Satoshi";
  margin-bottom: 1rem;
  line-height: 2;
  font-weight: light;
}

.eye-container {
  position: absolute;
  right: 100px;
  bottom: 40px;
}
.eye-active {
  display: none;
  bottom: -20px;
}
.play-btn {
  cursor: pointer;
}
.shooting-star {
  position: absolute;
  left: -150px;
  bottom: -150px;
  transition: 0.2s ease;
}

@media (max-width: 1300px) {
  .hat {
    right: 120px;
  }
  .hat-shadow {
    right: 200px;
  }
}
@media (max-width: 1230px) {
  .hat {
    right: 100px;
  }
  .hat-shadow {
    right: 180px;
  }
}
@media (max-width: 1190px) {
  .hat {
    right: 70px;
  }
  .hat-shadow {
    right: 150px;
  }
}
@media (max-width: 1115px) {
  .hat {
    right: 50px;
  }
  .hat-shadow {
    right: 130px;
  }
  .video-description {
    bottom: 150px;
  }
}
@media (max-width: 1065px) {
  .hat {
    right: 80px;
    top: -70px;
  }
  .name {
    font-size: 150px;
    top: 20px;
  }
  .hat-shadow {
    right: 160px;
    top: 20px;
  }
  .video-description {
    bottom: 20px;
    left: 30%;
  }
}
@media (max-width: 965px) {
  .cta {
    margin-left: 2rem;
  }
  .hat {
    right: 40px;
  }

  .hat-shadow {
    right: 120px;
  }
}
@media (max-width: 900px) {
  .eye-container {
    right: 60px;
  }
  .cta {
    margin-left: 2rem;
  }
  .hat {
    right: 40px;
  }

  .hat-shadow {
    right: 120px;
  }
}
.outside-cta {
  display: none;
}
@media (max-width: 870px) {
  .nav-menu {
    display: none;
  }
  .outside-cta {
    display: block;
  }
  .eye-container {
    right: 20px;
  }

  .hat {
    right: 20px;
  }

  .hat-shadow {
    right: 100px;
  }
  .eclipse-left {
    left: -50px;
  }
  .eclipse-rigth {
    right: -50px;
  }
}
@media (max-width: 870px) {
  .hat {
    right: 0;
  }

  .hat-shadow {
    right: 80px;
  }
  .name {
    font-size: 130px;
  }
}
@media (max-width: 720px) {
  .hat {
    right: -10px;
  }

  .hat-shadow {
    right: 70px;
  }
  .video-description {
    left: 20%;
  }
}
@media (max-width: 680px) {
  .hat {
    right: -10px;
  }
  .name {
    font-size: 100px;
  }
  .hat-shadow {
    right: 70px;
  }
}
@media (max-width: 590px) {
  .hat {
    right: -10px;
    width: 180px;
  }
  .name {
    font-size: 100px;
  }
  .hat-shadow {
    right: 70px;
    width: 30px;
  }
  .video-description {
    padding: 1rem;
    font-size: 0.8rem;
    width: 290px;
    height: 200px;
  }
  .video-description .play-btn {
    width: 30px;
  }
}
@media (max-width: 560px) {
  .hat {
    right: -10px;
    width: 160px;
    top: -50px;
  }
  .name {
    font-size: 80px;
  }
  .hat-shadow {
    right: 60px;
    width: 30px;
  }
  .video-description {
    padding: 1rem;
    font-size: 0.8rem;
    width: 290px;
    height: 200px;
  }
  .video-description .play-btn {
    width: 30px;
  }
  .eye-active {
    width: 60px;
  }
  .eye-inactive {
    width: 50px;
  }
}
@media (max-width: 480px) {
  .hat {
    width: 120px;
    right: 10px;
    top: -30px;
  }
  .outside-cta {
    margin-left: 0;
  }
}
@media (max-width: 460px) {
  .hat {
    width: 120px;
    right: -5px;
    top: -30px;
  }
  .video-description {
    left: 10%;
  }
  .outside-cta {
    font-size: 0.8rem;
  }
  .nav-logo img {
    width: 80px;
  }
}
